header h1 {
  color: #15803d !important;
}

.btn {
  border-radius: 0.25rem;
  text-transform: none;
}
.btn.btn-default {
  background: #a8a29e;
  border-color: #a8a29e;
  color: #fff;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  background: #78716c;
  outline-color: #78716c;
}
.btn.btn-primary {
  background: #15803d;
  border-color: #15803d;
  color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #166534;
  outline-color: #166534;
}
.btn.btn-secondary {
  background: #fbbf24;
  border-color: #fbbf24;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #eab308;
  outline-color: #eab308;
}

input[readonly] {
  user-select: none;
  background: #f5f5f4;
  border-color: #f5f5f4;
}
input[readonly]:focus {
  background: #f5f5f4;
  border-color: #f5f5f4;
}

table {
  visibility: hidden;
}
table.dataTable {
  visibility: visible;
  margin: 15px 0;
}
table.dataTable:before {
  content: none;
}
table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after {
  right: 5px;
  line-height: 7px;
  font-size: 0.6em;
}
table.dataTable th, table.dataTable td {
  font-size: 12px;
  line-height: 1.3em;
}
table.dataTable th {
  font-weight: 600 !important;
  color: #15803c;
  font-size: 12px;
  border-bottom: solid 1px #15803c;
  padding-top: 20px;
  padding-bottom: 20px;
}
table:before {
  content: "Generating result ...";
  visibility: visible;
  font-size: 14px;
}

@media screen and (max-width: 639px) {
  .dataTables_wrapper .grid {
    display: block;
  }
}

.dataTables_year label {
  font-size: 12px;
  font-weight: 500;
}
.dataTables_year input {
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.5em;
}
@media screen and (max-width: 639px) {
  .dataTables_year input {
    width: calc(100% - 43px);
  }
}

@media screen and (max-width: 639px) {
  .dataTables_length {
    margin-bottom: 10px;
  }
}
.dataTables_length label {
  font-size: 12px;
  font-weight: 500;
}
.dataTables_length select {
  padding-right: 20px;
  margin: 0 5px;
}
@media screen and (max-width: 639px) {
  .dataTables_length select {
    margin: 0 10px 0 19px;
    width: calc(100% - 110px);
  }
}

.dataTables_filter label {
  font-size: 12px;
  font-weight: 500;
}
.dataTables_filter input {
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.5em;
}
@media screen and (max-width: 639px) {
  .dataTables_filter input {
    width: calc(100% - 55px);
  }
}

.dataTables_info,
.dataTables_paginate a {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

@media screen and (max-width: 639px) {
  .dataTables_info {
    margin-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 639px) {
  .dataTables_paginate > div {
    margin-bottom: 10px;
  }
}

.my-2.col-span-2.border.border-gray-200.rounded.min-w-full.bg-white.dark\:bg-gray-800.dark\:border-gray-700 {
  border: none;
}

.flash {
  padding: 0;
  font-size: 14px;
  margin: 0 !important;
}
.flash.flash-error-inline {
  color: #f87171;
}

.input-error input,
.input-error input:hover,
.input-error input:focus {
  border-color: #f87171;
  background-color: rgba(248, 113, 113, 0.1);
}
.input-error .input-error--message p {
  color: #f87171;
  font-size: 12px;
  margin-top: 5px;
}

.flash.flash-success {
  margin: 1.5rem 0 !important;
  background: #fff;
  padding: 1.5rem;
  color: #15803c;
}

.flash.flash-error {
  margin: 1.5rem 0 !important;
  background: #fff;
  padding: 1.5rem;
  color: #f87171;
}

/*# sourceMappingURL=main.css.map */
