table {
  visibility: hidden;
}
table.dataTable, table.dataTable.compact {
  visibility: visible;
  margin: 15px 0;
}
table.dataTable:before, table.dataTable.compact:before {
  content: none;
}
table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable.compact thead > tr > th.sorting:before, table.dataTable.compact thead > tr > th.sorting:after {
  right: 5px;
  line-height: 7px;
  font-size: 0.6em;
}
table.dataTable th, table.dataTable td, table.dataTable.compact th, table.dataTable.compact td {
  font-size: 12px;
  line-height: 1.3em;
}
table.dataTable > thead > tr > th, table.dataTable.compact > thead > tr > th {
  font-weight: 500;
  color: #15803c;
  font-size: 12px;
  border-bottom: solid 1px #15803c;
  padding-top: 15px;
  padding-bottom: 15px;
}
table.dataTable td, table.dataTable.compact td {
  color: #1f2937;
}
table:before {
  content: "Generating result ...";
  visibility: visible;
  font-size: 14px;
}

@media screen and (max-width: 639px) {
  .dataTables_wrapper .grid {
    display: block;
  }
}

.dataTables_year label {
  font-size: 12px;
  font-weight: 500;
}
.dataTables_year input {
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.5em;
  border-radius: 5px;
}
@media screen and (max-width: 639px) {
  .dataTables_year input {
    width: calc(100% - 43px);
  }
}

@media screen and (max-width: 639px) {
  .dataTables_wrapper .dataTables_length {
    margin-bottom: 10px;
  }
}
.dataTables_wrapper .dataTables_length label {
  font-size: 12px;
  font-weight: 500;
  color: #1f2937;
}
.dataTables_wrapper .dataTables_length select {
  padding: 5px 20px 5px 10px;
  margin: 0 5px;
  font-size: 12px;
  border-color: #e5e7eb;
  border-radius: 5px;
}
@media screen and (max-width: 639px) {
  .dataTables_wrapper .dataTables_length select {
    margin: 0 10px 0 19px;
    width: calc(100% - 110px);
  }
}

.dataTables_wrapper .dataTables_filter label {
  font-size: 12px;
  font-weight: 500;
  color: #1f2937;
}
.dataTables_wrapper .dataTables_filter input {
  font-size: 12px;
  margin-left: 10px;
  line-height: 1.5em;
  border-color: #e5e7eb;
  padding: 8px;
  border-radius: 5px;
}
@media screen and (max-width: 639px) {
  .dataTables_wrapper .dataTables_filter input {
    width: calc(100% - 55px);
  }
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate a {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5em;
}

@media screen and (max-width: 639px) {
  .dataTables_wrapper .dataTables_info {
    margin-bottom: 10px;
    text-align: center;
  }
}

.dataTables_wrapper {
  background-color: #fff;
  /* Set the background color to white */
}

.dataTables_wrapper .dataTables_scrollHead {
  background-color: #f5f5f5;
  /* Set the header background color to light grey */
}

.dataTables_wrapper .dataTables_processing {
  background-color: #fff;
  /* Set the processing overlay background color to white */
}

@media screen and (max-width: 639px) {
  .dataTables_wrapper .dataTables_paginate > div {
    margin-bottom: 10px;
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 5px;
  border-color: #e5e7eb;
  background: #fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #fff;
  border-color: #15803d;
  color: #15803d !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #e5e7eb;
  border-color: #e5e7eb;
  color: #166534 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active:hover {
  background: #e5e7eb;
  border-color: #15803d;
}

.input-error input,
.input-error input:hover,
.input-error input:focus {
  border-color: #f87171;
  background-color: rgba(248, 113, 113, 0.1);
}
.input-error .input-error--message p {
  color: #f87171;
  font-size: 12px;
  margin-top: 5px;
}

form.input-error--username #username,
form.input-error--username #username:hover,
form.input-error--username #username:focus {
  border-color: #f87171;
  background-color: rgba(248, 113, 113, 0.1);
}

.flash.flash-success {
  margin: 1.5rem 0 !important;
  background: #fff;
  padding: 1.5rem;
  color: #15803c;
}

.flash.flash-error {
  margin: 1.5rem 0 !important;
  background: #fff;
  padding: 1.5rem;
  color: #f87171;
}

.flash.flash-info {
  margin: 1.5rem 0 !important;
  background: #fff;
  padding: 1.5rem;
  color: #1f2937;
}

.flash {
  padding: 0;
  font-size: 14px;
  margin: 0 !important;
}
.flash.flash-error-inline {
  color: #f87171;
}

.alert-list {
  list-style: auto;
  padding: 15px 20px 15px 35px;
  width: auto;
  border-radius: 4px;
  display: inline-block;
}
.alert-list.alert-list--success {
  background: rgba(21, 128, 61, 0.1);
}
.alert-list.alert-list--error {
  background: #fee2e2;
}
.alert-list li {
  font-size: 13px;
  padding: 2px 0;
  color: #525252;
}

input[readonly],
select[readonly],
input[disabled],
select[disabled] {
  user-select: none;
  background: #f5f5f4;
  border-color: #f5f5f4;
}
input[readonly]:focus,
select[readonly]:focus,
input[disabled]:focus,
select[disabled]:focus {
  background: #f5f5f4;
  border-color: #f5f5f4;
}

#employee-APE-form label[for=controlDate] {
  display: none;
}
#employee-APE-form label[for=controlDate] + div {
  margin: 0;
  display: inline-block;
}
#employee-APE-form #controlDate {
  padding: 0;
  background: transparent;
  border: none;
  color: #4b5563;
  font-size: 12px;
}

.btn {
  border-radius: 0.25rem;
  text-transform: none;
}
.btn.btn-default {
  background: #a8a29e;
  border-color: #a8a29e;
  color: #fff;
}
.btn.btn-default:hover, .btn.btn-default:focus {
  background: #78716c;
  outline-color: #78716c;
}
.btn.btn-primary {
  background: #15803d;
  border-color: #15803d;
  color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #166534;
  outline-color: #166534;
}
.btn.btn-secondary {
  background: #fbbf24;
  border-color: #fbbf24;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #eab308;
  outline-color: #eab308;
}

header h1 {
  color: #15803d !important;
}

body.is-loading {
  overflow: hidden;
}

.bg-black-50pc {
  background-color: rgba(0, 0, 0, 0.5);
}

#prompConfirmModal .modal-box {
  border-radius: 0.25rem;
}
#prompConfirmModal .prompt-button-yes, #prompConfirmModal .prompt-button-no {
  min-width: 120px;
  font-size: 12px;
}

.page-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  animation: modal-pop 0.2s ease-out;
}
.is-loading .page-loader {
  display: block;
}
.page-loader .loading {
  width: 3.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  background: #fff;
}
.page-loader p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 45px;
  color: #fff;
}

main {
  opacity: 1;
  transition: 0.2s;
}
.is-loading main {
  opacity: 0;
}

label:has(+ div [required])::after {
  content: " *";
  color: #ef4444;
}

/*# sourceMappingURL=main.css.map */
