.input-error {
    input,
    input:hover,
    input:focus {
        border-color: #f87171;
        background-color: rgba(248, 113, 113, 0.1)
    }

    .input-error--message p {
        color: #f87171;
        font-size: 12px;
        margin-top: 5px;
    }
}

form {
    .input-error, .input-error:hover, .input-error:focus {
        border-color: #f87171;
        background-color: rgba(248, 113, 113, 0.1)
    }

    .input-valid, .input-valid:hover, .input-valid:focus {
        border-color: #15803d;
        background-color: #f0fdf4;
    }
}

.flash.flash-success {
    margin: 1.5rem 0 !important;
    background: #fff;
    padding: 1.5rem;
    color: #15803c;
}

.flash.flash-error {
    margin: 1.5rem 0 !important;
    background: #fff;
    padding: 1.5rem;
    color: #f87171;
}

.flash.flash-info {
    margin: 1.5rem 0 !important;
    background: #fff;
    padding: 1.5rem;
    color: $text-color;
}

.flash {
    padding: 0;
    font-size: 14px;
    margin: 0 !important;

    &.flash-error-inline {
        color: #f87171;
    }
}


.alert-list {
    list-style: auto;
    padding: 15px 20px 15px 35px;
    width: auto;
    border-radius: 4px;
    display: inline-block;

    &.alert-list--success {
        background: rgba(21, 128, 61, .1);
    }

    &.alert-list--error {
        background: #fee2e2;
    }

    li {
        font-size: 13px;
        padding: 2px 0;
        color: #525252;
    }
}