$color-white: #fff; 
$color-default: #a8a29e; // stone-700
$color-default-darker: #78716c; // stone-800
$color-primary: #15803d; // green-700
$color-primary-darker: #166534; // green-800
$color-secondary: #fbbf24; // amber-400
$color-secondary-darker: #eab308; // amber-400
$color-danger: #ef4444; // red-500
$color-danger-darker: #dc2626; // red-600

$text-color: #1f2937;

$border-color-default: #e5e7eb;