$color-white: #fff; 
$color-default: #a8a29e; // stone-700
$color-default-darker: #78716c; // stone-800
$color-primary: #15803d; // green-700
$color-primary-darker: #166534; // green-800
$color-secondary: #fbbf24; // amber-400
$color-secondary-darker: #eab308; // amber-400

header h1 {
    color: $color-primary !important;
}

.btn {
    border-radius: 0.25rem;
    text-transform: none;
    
    &.btn-default {
        background: $color-default;
        border-color: $color-default;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-default-darker;
            outline-color: $color-default-darker;
        }
    }

    &.btn-primary {
        background: $color-primary;
        border-color: $color-primary;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-primary-darker;
            outline-color: $color-primary-darker;
        }
    }

    &.btn-secondary {
        background: $color-secondary;
        border-color: $color-secondary;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-secondary-darker;
            outline-color: $color-secondary-darker;
        }
    }
}


input[readonly] {
    user-select: none;
    background: #f5f5f4;
    border-color: #f5f5f4;

    &:focus {
        background: #f5f5f4;
        border-color: #f5f5f4;
    }
}

table {
    visibility: hidden;

    &.dataTable {
        visibility: visible;
        margin: 15px 0;

        &:before {
            content: none;
        }
        
        thead>tr>th.sorting {
            &:before,
            &:after {
                right: 5px;
                line-height: 7px;
                font-size: .6em;
            }
        }

        th, td {
            font-size: 12px;
            line-height: 1.3em;
        }
        th {
            font-weight: 600 !important;
            color: #15803c;
            font-size: 12px;
            border-bottom: solid 1px #15803c;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }


    &:before {
        content: "Generating result ...";
        visibility: visible;
        font-size: 14px;
    } 
}

.dataTables_wrapper .grid {
    @media screen and (max-width: 639px) {
        display: block;
    }    
}


.dataTables_year {
    label {
        font-size: 12px;
        font-weight: 500;
    }
    input {
        font-size: 12px;
        margin-left: 10px;   
        line-height: 1.5em;

        @media screen and (max-width: 639px) {
            width: calc(100% - 43px);
        }
    }
}

.dataTables_length {
    @media screen and (max-width: 639px) {
        margin-bottom: 10px;
    }

    label {
        font-size: 12px;
        font-weight: 500;
    }

    select {
        padding-right: 20px;	
        margin: 0 5px;
        
        @media screen and (max-width: 639px) {
            margin: 0 10px 0 19px;
            width: calc(100% - 110px);
        }
    }
}

.dataTables_filter {
    label {
        font-size: 12px;
        font-weight: 500;
    }

    input {
        font-size: 12px;
        margin-left: 10px;   
        line-height: 1.5em;

        @media screen and (max-width: 639px) {
            width: calc(100% - 55px);
        }
    }
}

.dataTables_info,
.dataTables_paginate a {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
}

.dataTables_info {
    @media screen and (max-width: 639px) {
        margin-bottom: 10px;
        text-align: center;
    }
}

.dataTables_paginate > div {
    @media screen and (max-width: 639px) {
        margin-bottom: 10px;
    }
}


.my-2.col-span-2.border.border-gray-200.rounded.min-w-full.bg-white.dark\:bg-gray-800.dark\:border-gray-700 {
    border: none;
}

.flash {
    padding: 0;
    font-size: 14px;
    margin: 0 !important;

    &.flash-error-inline {
        color: #f87171;
    }
}

.input-error {
    input,
    input:hover,
    input:focus {
        border-color: #f87171;
        background-color: rgba(248, 113, 113, 0.1)
    }

    .input-error--message p {
        color: #f87171;
        font-size: 12px;
        margin-top: 5px;
    }
}

.flash.flash-success {
    margin: 1.5rem 0 !important;
    background: #fff;
    padding: 1.5rem;
    color: #15803c;
}

.flash.flash-error {
    margin: 1.5rem 0 !important;
    background: #fff;
    padding: 1.5rem;
    color: #f87171;
}
