@import '_variable';
@import '_dataTable';
@import '_message';
@import '_form';
@import '_button';
@import '_typography';


$color-black-50pc: rgba(0, 0, 0, 0.5);

.bg-black-50pc {
    background-color: $color-black-50pc;
}

#prompConfirmModal {
    .modal-box {
        border-radius: 0.25rem;
    }

    .prompt-button-yes, .prompt-button-no {
        min-width: 120px;
        font-size: 12px;
    }
}